*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#020b24;
    color:white;
}

/* LAYOUT */

.container{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    background:#01081d;
    border-right:1px solid #163058;
    padding:25px;
}

.logo{
    font-size:54px;
    font-weight:900;
    color:#4ea1ff;
}

.sub-logo{
    font-size:12px;
    color:#8ea7d4;
    margin-bottom:35px;
}

.filter-section{
    margin-bottom:20px;
}

.filter-section label{
    display:block;
    margin-bottom:8px;
    color:#9fb5dd;
    font-size:13px;
}

.filter-section select{
    width:100%;
    padding:10px;
    border-radius:8px;
    border:1px solid #244678;
    background:#071630;
    color:white;
}

.reset-btn{
    width:100%;
    margin-top:10px;
    padding:10px;
    border:none;
    border-radius:8px;
    background:#2573ff;
    color:white;
    cursor:pointer;
}

/* MAIN */

.main{
    flex:1;
    padding:25px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin-bottom:25px;
}

.header h1{
    font-size:72px;
    font-weight:900;
    color:#4ea1ff;
}

.header span{
    color:#8ea7d4;
}

.header-info{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.info-card{
    background:#071630;
    border:1px solid #244678;
    padding:12px 18px;
    border-radius:10px;
}

/* KPI */

.kpi-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:18px;
    margin-bottom:25px;
}

.kpi-card{
    background:linear-gradient(
        135deg,
        #071630,
        #0b2148
    );

    border:1px solid #244678;

    border-radius:14px;

    padding:20px;

    box-shadow:
    0 0 20px rgba(78,161,255,.10);

    transition:.3s;
}

.kpi-card:hover{
    transform:translateY(-3px);
}

.kpi-card h4{
    color:#9fb5dd;
    font-size:16px;
    margin-bottom:12px;
}

.kpi-card span{
    font-size:52px;
    font-weight:900;
}

/* CHARTS */

.charts{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.chart-card{
    background:#071630;
    border:1px solid #244678;
    border-radius:14px;
    padding:18px;
}

.chart-card h3{
    font-size:22px;
    margin-bottom:15px;
}

.chart-card.full{
    grid-column:span 2;
}

.chart-card canvas{
    height:320px !important;
}

/* TABLE HIDDEN */

table{
    display:none;
}

/* RESPONSIVE */

@media(max-width:1400px){

    .kpi-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .charts{
        grid-template-columns:1fr;
    }

    .chart-card.full{
        grid-column:auto;
    }
}