body{
margin:0;
padding:20px;
font-family:Segoe UI,Arial,sans-serif;
background:#f3f3f3;
}

.header{
display:flex;
justify-content:space-between;
align-items:flex-start;
margin-bottom:20px;
}

.header-right{
font-size:48px;
font-weight:bold;
color:#1e88e5;
}

.header-left h2{
margin-top:0;
}

.header-left select{
display:block;
width:220px;
padding:8px;
margin-bottom:10px;
}

.kpis{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
margin-bottom:20px;
}

.kpi{
background:white;
border-radius:10px;
padding:20px;
text-align:center;
}

.kpi span{
font-size:36px;
font-weight:bold;
color:#e67e22;
}

.charts-top,
.charts-bottom{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:15px;
margin-bottom:15px;
}

.chart-card{
background:white;
padding:15px;
border-radius:10px;
height:400px;
}

table{
width:100%;
background:white;
border-collapse:collapse;
}

th,td{
border:1px solid #ddd;
padding:8px;
font-size:13px;
}

th{
background:#f0f0f0;
}

@media(max-width:1200px){

.kpis{
grid-template-columns:repeat(2,1fr);
}

.charts-top,
.charts-bottom{
grid-template-columns:1fr;
}

.header{
flex-direction:column;
}

.header-right{
font-size:30px;
margin-top:15px;
}

}